body {
    font-family: 'Inter', sans-serif; /* Changed to Inter font */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    letter-spacing: -0.02em; /* Adjusted the value to reduce kerning */
}

header {
    background: #2d2d2d;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: white; /* Changed to white background */
    padding: 20px 0; /* Increased padding to make the nav bar thicker */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(40, 40, 40); /* Changed to black text */
    text-decoration: none;
    font-weight: 400; /* Normal font weight */
    font-size: 0.9em; /* Slightly smaller font size */
    transition: font-weight 0.3s; /* Smooth transition for font-weight change */
}

nav ul li a:hover {
    font-weight: 700; /* Thicker bold effect on hover */
}

.fullscreen-image {
    position: relative;
    width: 100%;
    height: 50vh; /* Fullscreen height */
    background-color: rgb(232, 232, 232); /* Blank white background for now */
}

.fullscreen-image .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
